---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import Tabs from "./Assassination_tabs.astro";
import Sim from "../Sim.astro";
import TalentsKeys from "../../assets/guide/assassination/sim/talents_keys.png";
import TalentsRaid from "../../assets/guide/assassination/sim/talents_raid.png";
import TalentsKeysST from "../../assets/guide/assassination/sim/keys_st.png";
import DS from "../Hero_trees/DS.astro";
import FB from "../Hero_trees/FB.astro";
---

<section
  id={assaMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      Ниже я представлю два варианта билдов для рейда и два — для ключей (хотя
      на самом деле их больше, но остальные являются вариациями этих двух). В 3
      сезоне у нас есть возможность играть в обоих героических ветках. <FB /> больше
      для рейдов (но в теории можно и ключи поиграть), <DS /> больше для ключей и
      определенных таймингов в рейде.
    </p>
    <p>
      Если вы симите ключи, помните, что <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      /> всё ещё не симится, поэтому нужно к симам прибавить еще 2-4%, которые он
      дает в реальности.
    </p>
    <p>
      Выбор билда для ключей (Bleed или KB) строго индивидуален. Ниже я распишу
      плюсы и минусы каждого варианта. Также под талантами вы можете посмотреть
      симуляции для рейда, общего урона в ключах и урона в одну цель в билдах
      для ключей.
    </p>
    <ul class="list-inside list-decimal flex flex-col items-start gap-[16px]">
      <li class="border border-1 p-[20px] rounded-md border-border">
        <span class="text-red-500">Bleed</span> - самый простой в исполнении, подойдёт
        для новичков. Практически ни за чем не нужно следить, кроме как за тем, чтобы
        все цели были под кровотечениями. Обеспечивает самый высокий оверолл (особенно
        в низких ключах), но наименьший урон по боссам. Подходит только <DS />
      </li>
      <li class="border border-1 p-[20px] rounded-md border-border">
        <span class="text-green-500">KB</span> - версия для убийства боссов. Даёт
        примерно на 8-9% оверолла меньше чем Bleed (в <DS />), но на 5% больше в
        одну цель. Из-за новых сетов, вариант без двух <WH
          text="Отравляющих уколов"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> даже не рассматривается. Для <FB />, на "бумаге" - это самый сильный
        оверолл билд. В теории, даже выше Bleed билда в <DS />, но зависит от
        аптайма <WH
          text="Счастливой монетки"
          href="https://www.wowhead.com/ru/spell=452562/счастливая-монетка"
        /> (в симе я снижал его до 90%). Симы можете посмотреть ниже.
      </li>
    </ul>
    <Tabs />
    <Sim title="Сим талантов в одну цель (5 минут)">
      <img
        src={TalentsRaid.src}
        alt="Сим талантов в одну цель"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Сим талантов в ключе">
      <img
        src={TalentsKeys.src}
        alt="Сим талантов в ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim
      title="Сим талантов в ST (билды для ключей, БЛ, баффы дх и шамана, 5 минут)"
    >
      <img
        src={TalentsKeysST.src}
        alt="Сим талантов в ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </div>
</section>
