---
import WH from "../WH.astro";
import ST_DS1 from "../../assets/guide/assassination/builds/assa_st_ds_1.png";
import ST_DS2 from "../../assets/guide/assassination/builds/assa_ds_2.png";
import ST_DS3 from "../../assets/guide/assassination/builds/assa_st_ds_3.png";
import ST_FB1 from "../../assets/guide/assassination/builds/assa_st_fb_1.png";
import ST_FB2 from "../../assets/guide/assassination/builds/assa_fb_2.png";
import ST_FB3 from "../../assets/guide/assassination/builds/assa_st_fb_3.png";
import KEYS_DS1 from "../../assets/guide/assassination/builds/assa_keys_ds_1.png";
import KEYS_DS2 from "../../assets/guide/assassination/builds/assa_ds_2.png";
import KEYS_DS3 from "../../assets/guide/assassination/builds/assa_keys_ds_3.png";
import KEYS_FB1 from "../../assets/guide/assassination/builds/assa_keys_ds_1v2.png";
import KEYS_FB2 from "../../assets/guide/assassination/builds/assa_ds_2.png";
import KEYS_FB3 from "../../assets/guide/assassination/builds/assa_keys_ds_3v2.png";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-assa peer-checked/tab_one:neon-assa"
    >Рейд [DS]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAA0tw2gAD7pPTLoW5IGZDeMzMzMMmx2MAAAAAAYZwyMAAAAAAktZmZYmBzMzysNzMjBGzMzMmZzyYGgNzyADYJYZYCMsYA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAA0tw2gAD7pPTLoW5IGZDeMzMzMMmx2MAAAAAAYZwyMAAAAAAktZmZYmBzMzysNzMjBGzMzMmZzyYGgNzyADYJYZYCMsYA?width=972&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_DS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_DS2.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_DS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Внутреннее кровотечение"
          href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
        /> играется только в боях где одна цель (или для большего урона в босса).
        Боссы на которых играется <WH
          text="Внутреннее кровотечение"
          href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
        />: Сик'ран, Раша'нан (опционально, если очень быстро умирают пауки /
        коконы), Ки'веза. На остальных боссах <WH
          text="Едкие капли"
          href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
        /> будут намного лучше.
      </li>
      <li>
        <WH
          text="Принудительная индукция"
          href="https://www.wowhead.com/ru/spell=470668/принудительная-индукция"
        /> можно поменять на <WH
          text="Смертоносность"
          href="https://www.wowhead.com/ru/spell=382238/смертоносность"
        /> (1/2). Чем больше будет критического урона, тем лучше будет <WH
          text="Смертоносность"
          href="https://www.wowhead.com/ru/spell=382238/смертоносность"
        />, но на данный момент она симится немного хуже чем <WH
          text="Принудительная индукция"
          href="https://www.wowhead.com/ru/spell=470668/принудительная-индукция"
        />.
      </li>
      <li>
        <WH
          text="Призрачную мантия"
          href="https://www.wowhead.com/ru/spell=457022/призрачная-мантия"
        /> и <WH
          text="Обманный прием"
          href="https://www.wowhead.com/ru/spell=457034/обманный-прием"
        /> выбирайте по необходимости.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-assa peer-checked/tab_two:neon-assa"
    >Рейд [FB]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAA0tw2gAD7pPTLoW5IGZDeMzMzMMmBDAAAAAAWGsMDAAAAAAZbmZmZmZwMzsMbzMzYgxMzMjZ2sMmBYZmlxCjZMLNmtlhJbDDbG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAA0tw2gAD7pPTLoW5IGZDeMzMzMMmBDAAAAAAWGsMDAAAAAAZbmZmZmZwMzsMbzMzYgxMzMjZ2sMmBYZmlxCjZMLNmtlhJbDDbG?width=972&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_FB1.src}
        alt="Служитель судьбы рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_FB2.src}
        alt="Служитель судьбы рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_FB3.src}
        alt="Служитель судьбы рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Внутреннее кровотечение"
          href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
        /> играется только в боях где одна цель (или для большего урона в босса).
        Боссы на которых играется <WH
          text="Внутреннее кровотечение"
          href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
        />: Сик'ран, Раша'нан (опционально, если очень быстро умирают пауки /
        коконы), Ки'веза. На остальных боссах <WH
          text="Едкие капли"
          href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
        /> будут намного лучше.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ [DS] v1</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAA0tw2gAD7pPTLoW5IGZDeMmZmZGmBAAAAAAYWMmtZAAAAAAotlxMYmxYmZWmtxMDmZMzgZmZbbZmZA2MLDMglglhJwwyA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAA0tw2gAD7pPTLoW5IGZDeMmZmZGmBAAAAAAYWMmtZAAAAAAotlxMYmxYmZWmtxMDmZMzgZmZbbZmZA2MLDMglglhJwwyA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_DS1.src}
        alt="Ловчий смерти билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DS2.src}
        alt="Ловчий смерти билд для ключей"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DS3.src}
        alt="Ловчий смерти билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />
        можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. Но чем выше ключ, тем лучше <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />, а некоторые способности без нее просто не будут переживаться на
        определенном уровне ключа.
      </li>
      <li>
        <WH
          text="Железная проволока"
          href="https://www.wowhead.com/ru/spell=196861/железная-проволока"
        />
        очень сильный талант, хоть и приходится жертвовать из-за него дпс талантами.
        Однако, благодаря немоте, пак быстрее собирается и вам проще повесить кровотечения,
        радиус которых довольно мал. Поэтому не стоит вместо него брать другие дпс
        таланты. Но, если вы всё-таки хотите его убрать, то рекомендую взять <WH
          text="Лихой негодяй"
          href="https://www.wowhead.com/ru/spell=381797/лихой-негодяй"
        /> для оверолла. Либо <WH
          text="Легкая заточка"
          href="https://www.wowhead.com/ru/spell=394983/легкая-заточка"
        />, он упрощает отыгрыш <WH
          text="Отравляющего укола"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> и даёт больше всего урона в бою с боссами.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ [DS] v2</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAA0tw2gAD7pPTLoW5IGZDeMjZmZGmhHYAAAAAAYWgtZAAAAAAotlxMMzMGzMzysNmZwMzMzgZmZzyMzAsZWGYALBLDTghFA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAA0tw2gAD7pPTLoW5IGZDeMjZmZGmhHYAAAAAAYWgtZAAAAAAotlxMMzMGzMzysNmZwMzMzgZmZzyMzAsZWGYALBLDTghFA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_FB1.src}
        alt="Служитель судьбы билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_FB2.src}
        alt="Служитель судьбы билд для ключей"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_FB3.src}
        alt="Служитель судьбы билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />
        можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. Но чем выше ключ, тем лучше <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />, а некоторые способности без нее просто не будут переживаться на
        определенном уровне ключа.
      </li>
      <li>
        <WH
          text="Смертоносность"
          href="https://www.wowhead.com/ru/spell=382238/смертоносность"
        /> можно поменять на <WH
          text="Суперзарядка"
          href="https://www.wowhead.com/ru/spell=470347/суперзарядка"
        /> (2/2) или даже взять целиком ветку с
        <WH
          text="Принудительная индукция"
          href="https://www.wowhead.com/ru/spell=470668/принудительная-индукция"
        />, но это имеет мало смысла, так как в м+ билдах у нас нету второго <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        />
      </li>
    </ul>
  </div>
</div>
