---
import WH from "../WH.astro";
import ST from "../../assets/guide/assassination/builds/ST.webp";
import ST2 from "../../assets/guide/assassination/builds/ST2.webp";
import Cleave from "../../assets/guide/assassination/builds/Cleave.webp";
import Keys from "../../assets/guide/assassination/builds/Keys.webp";
import Keys2AP from "../../assets/guide/assassination/builds/Keys2AP.webp";
import Keys2DTB from "../../assets/guide/assassination/builds/Keys2DTB.webp";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-assa peer-checked/tab_one:neon-assa"
    >Рейд</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAEJJhkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaJREEJJJRSTLSAA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAEJJhkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaJREEJJJRSTLSAA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={ST.src}
        alt="Рейдовый билд головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST2.src}
        alt="Рейдовый билд головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[30px]">
      К сожалению, в одну цель вообще нету замен, замена <WH
        text="Скорополохового чая"
        href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
      /> на <WH
        text="Акробатические удары"
        href="https://www.wowhead.com/ru/spell=196924/акробатические-удары"
      /> дает -10к урона, остальные таланты дают еще больший минус.
    </p>
    <p class="pt-[16px]">
      Если на боссе требуется небольшой клив, то лучшим вариантом будет замена <WH
        text="Внутреннее кровотечение"
        href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
      /> на <WH
        text="Едкие капли"
        href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
      />. Если клив подходит под минутный таймер <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />, то также можно заменить <WH
        text="Внезапное удушье"
        href="https://www.wowhead.com/ru/spell=385478/внезапное-удушье"
      /> на <WH
        text="Тотальная бойня"
        href="https://www.wowhead.com/ptr-2/spell=381802/indiscriminate-carnage"
      />. Если требуется клив сильнее или клив постоянный, то смотрите следующую
      вкладку.
    </p>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-assa peer-checked/tab_two:neon-assa"
    >Рейд (SBS)</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAkWSSISQAAAAAAIlkIlkAAAAAAAaJJIBSSKpFREkkkkEJNtIBA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAkWSSISQAAAAAAIlkIlkAAAAAAAaJJIBSSKpFREkkkkEJNtIBA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={ST.src}
        alt="Рейдовый билд головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={Cleave.src}
        alt="Рейдовый билд головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[30px]">
      Этот билд симится в одну цель хуже чем стандартный на ~0.6%, но с <WH
        text="Приданием сил"
        href="https://www.wowhead.com/ru/spell=10060/придание-сил"
      />
       разница становится нулевой. Но стоит помнить, что если на боссе имеются
      доп цели, то этот билд будет всегда сильнее стандартного.
    </p>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ AP</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAQSkkkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaBRkEJJJJRTJSAA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAQSkkkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaBRkEJJJJRTJSAA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={Keys.src}
        alt="Билд для ключей головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={Keys2AP.src}
        alt="Билд для ключей головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <ul class="flex flex-col list-disc list-inside gap-[16px] my-[16px]">
      <li>
        К сожалению взять <WH
          text="Акробатические удары"
          href="https://www.wowhead.com/ru/spell=196924/акробатические-удары"
        /> можно только потеряв 10к+ урона, поэтому не стоит их брать, да и в
        ликвидации они не особо нужны из-за "умных" кровотечений
      </li>
      <li>
        <WH
          text="Замедляющий яд"
          href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
        /> обычно используется на укрепленных неделях, а <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> на тиранических или высоких укрепленных неделях.
      </li>
      <li>
        Если вам требуется чаще использовать <WH
          text="Скрывающий покров"
          href="https://www.wowhead.com/ru/spell=114018/скрывающий-покров"
        /> или требуются усиленные яды (например на тиранической неделе), то
        замените <WH
          text="Крепкий желудок"
          href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
        /> на <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> | <WH
          text="Мастер ядоварения"
          href="https://www.wowhead.com/ru/spell=378436/мастер-ядоварения"
        />.
      </li>
      <li>
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> можно заменить на <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> в высоких тиранических ключах, где не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        />.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ DTB</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAQSkkkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaRERSkESSSTJSAA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAQSkkkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaRERSkESSSTJSAA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={Keys.src}
        alt="Билд для ключей головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={Keys2DTB.src}
        alt="Билд для ключей головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <ul class="flex flex-col list-disc list-inside gap-[16px] my-[16px]">
      <li>
        К сожалению взять <WH
          text="Акробатические удары"
          href="https://www.wowhead.com/ru/spell=196924/акробатические-удары"
        /> можно только потеряв 10к+ урона, поэтому не стоит их брать, да и в
        ликвидации они не особо нужны из-за "умных" кровотечений
      </li>
      <li>
        <WH
          text="Замедляющий яд"
          href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
        /> обычно используется на укрепленных неделях, а <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> на тиранических или высоких укрепленных неделях.
      </li>
      <li>
        Если вам требуется чаще использовать <WH
          text="Скрывающий покров"
          href="https://www.wowhead.com/ru/spell=114018/скрывающий-покров"
        /> или требуются усиленные яды (например на тиранической неделе), то
        замените <WH
          text="Крепкий желудок"
          href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
        /> на <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> | <WH
          text="Мастер ядоварения"
          href="https://www.wowhead.com/ru/spell=378436/мастер-ядоварения"
        />.
      </li>
      <li>
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> можно заменить на <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> в высоких тиранических ключах, где не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        />.
      </li>
    </ul>
  </div>
</div>
