---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import Tabs from "./Assassination_tabs.astro";
import Sim from "../Sim.astro";
import TalentsKeys from "../../assets/guide/assassination/sim/talents_keys.png";
import TalentsRaid from "../../assets/guide/assassination/sim/talents_raid.png";
import TalentsKeysST from "../../assets/guide/assassination/sim/keys_st.png";
---

<section
  id={assaMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      Ниже я представлю два варианта билдов для рейда и два — для ключей (хотя
      на самом деле их больше, но остальные являются вариациями этих двух). В
      настоящее время Служитель судьбы не используется ни в рейдах, ни в ключах,
      несмотря на то что показывает лучшие результаты в симе. Он слишком сильно
      зависит от проков, и если вам не повезёт с Счастливой монеткой в первом
      бурсте — вам действительно не повезёт. Поэтому 99,9% игроков выбирают
      Ловчего смерти, однако вы можете поиграть за Служителя судьбы ради
      разнообразия на рефарме.
    </p>
    <p class="text-blue-500">
      DS - Deathstalker - Ловчий смерти<br />
      FB - Fatebound - Служитель судьбы
    </p>
    <p>
      Если вы симите ключи, помните, что <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      /> всё ещё не симится, поэтому нужно к симам прибавить еще 2-4%, которые он
      дает в реальности.
    </p>
    <p>
      Выбор билда для ключей (Bleed, KB, KB с двумя <WH
        text="Отравляющими уколами"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      />) строго индивидуален. Ниже я распишу плюсы и минусы каждого варианта.
      Также под талантами вы можете посмотреть симуляции для рейда, общего урона
      в ключах и урона в одну цель в билдах для ключей.
    </p>
    <ul class="list-inside list-decimal flex flex-col items-start gap-[10px]">
      <li>
        <span class="text-red-500">Bleed</span> - самый простой в исполнении, подойдёт
        для новичков. Практически ни за чем не нужно следить, кроме как за тем, чтобы
        все цели были под кровотечениями. Обеспечивает самый высокий оверолл (особенно
        в низких ключах), но наименьший урон по боссам.
      </li>
      <li>
        <span class="text-green-500">KB</span> - универсальный вариант, немного сложнее,
        чем Bleed, так как требует синхронизации двух бурстов, что иногда неудобно.
        Также важно, чтобы цель жила достаточно долго, чтобы <WH
          text="Погибель королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        /> полностью «провисела» на ней. При хорошем исполнении даёт оверолл, сопоставимый
        с Bleed, но значительно больше урона в одну цель (хотя меньше, чем у третьего
        варианта).
      </li>
      <li>
        <span class="text-green-500"
          >KB c 2 <WH
            text="Отравляющими уколами"
            href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
          /></span
        > - по сути, более «стшная» версия KB билда. Меньше оверолл, но больше урона
        в одну цель. На данный момент это самый популярный вариант, так как в высоких
        ключах требуется высокий урон по боссу.
      </li>
    </ul>
    <Tabs />
    <Sim title="Сим талантов в одну цель (5 минут)">
      <img
        src={TalentsRaid.src}
        alt="Сим талантов в одну цель"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Сим талантов в ключе (19 шлюз)">
      <img
        src={TalentsKeys.src}
        alt="Сим талантов в ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim
      title="Сим талантов в ST (билды для ключей, БЛ, баффы дх и шамана, 5 минут)"
    >
      <img
        src={TalentsKeysST.src}
        alt="Сим талантов в ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </div>
</section>
