---
import WH from "../WH.astro";
import ST_HO from "../../assets/guide/outlaw/builds/ST_HO.webp";
import ST_HO2 from "../../assets/guide/outlaw/builds/ST_HO2.webp";
import ST_KIR from "../../assets/guide/outlaw/builds/ST_KIR.webp";
import ST_KIR2 from "../../assets/guide/outlaw/builds/ST_KIR2.webp";
import M_HO from "../../assets/guide/outlaw/builds/M_HO.webp";
import M_HO2 from "../../assets/guide/outlaw/builds/M_HO2.webp";
import M_KIR from "../../assets/guide/outlaw/builds/M_KIR.webp";
import M_KIR2 from "../../assets/guide/outlaw/builds/M_KIR2.webp";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-assa peer-checked/tab_one:neon-assa"
    >Рейд HO</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAEJJhkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaJREEJJJRSTLSAA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAEJJhkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaJREEJJJRSTLSAA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={ST_HO.src}
        alt="Рейдовый билд головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_HO2.src}
        alt="Рейдовый билд головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[30px]">
      К сожалению, в одну цель вообще нету замен, замена <WH
        text="Скорополохового чая"
        href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
      /> на <WH
        text="Акробатические удары"
        href="https://www.wowhead.com/ru/spell=196924/акробатические-удары"
      /> дает -10к урона, остальные таланты дают еще больший минус.
    </p>
    <p class="pt-[16px]">
      Если на боссе требуется небольшой клив, то лучшим вариантом будет замена <WH
        text="Внутреннее кровотечение"
        href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
      /> на <WH
        text="Едкие капли"
        href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
      />. Если клив подходит под минутный таймер <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />, то также можно заменить <WH
        text="Внезапное удушье"
        href="https://www.wowhead.com/ru/spell=385478/внезапное-удушье"
      /> на <WH
        text="Тотальная бойня"
        href="https://www.wowhead.com/ptr-2/spell=381802/indiscriminate-carnage"
      />. Если требуется клив сильнее или клив постоянный, то смотрите следующую
      вкладку.
    </p>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-assa peer-checked/tab_two:neon-assa"
    >Клив</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAkWSSSkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaRSQSiEkkQJSAA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAkWSSSkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaRSQSiEkkQJSAA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={ST_KIR.src}
        alt="Рейдовый билд головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_KIR2.src}
        alt="Рейдовый билд головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[30px]">
      Это подходит только на постоянное АоЕ / Клив. На данный момент <WH
        text="Смертельная доза"
        href="https://www.wowhead.com/ru/spell=381640/смертельная-доза"
      /> не работает на <WH
        text="Сепсис"
        href="https://www.wowhead.com/ru/spell=385408/сепсис"
      /> и <WH
        text="Зазубренный костяной шип"
        href="https://www.wowhead.com/ru/spell=385424/зазубренный-костяной-шип"
      />. А <WH
        text="Внезапную гибель"
        href="https://www.wowhead.com/ptr-2/spell=423136/sudden-demise"
      /> невозможно просимить.
    </p>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ AP</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BQQAAAAAAAAAAAAAAAAAAAAAAAAAJEJBSSIhEJJJpJJRJJSJJAAAAAAItWSCSSUIpkSAAAAIJA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BQQAAAAAAAAAAAAAAAAAAAAAAAAAJEJBSSIhEJJJpJJRJJSJJAAAAAAItWSCSSUIpkSAAAAIJA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={M_HO.src}
        alt="Билд для ключей головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={M_HO2.src}
        alt="Билд для ключей головореза через Скрытую возможность"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[16px]">
      Основная замена, это 1 очко из <WH
        text="Неутомимости"
        href="https://www.wowhead.com/ru/spell=14983/неутомимость"
      /> в <WH
        text="Смертоносность"
        href="https://www.wowhead.com/ru/spell=382238/смертоносность"
      />, особой роли не играет, зависит от количества скорости у вас + с <WH
        text="Неутомимостью"
        href="https://www.wowhead.com/ru/spell=14983/неутомимость"
      /> немного комфортнее играть.
    </p>
    <p class="pt-[16px]">
      <WH
        text="Замедляющий яд"
        href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
      /> обычно используется на укрепленных неделях, а <WH
        text="Атрофический яд"
        href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
      /> на тиранических или высоких укрепленных неделях.
    </p>
    <p class="pt-[16px]">
      Если вам требуется чаще использовать <WH
        text="Скрывающий покров"
        href="https://www.wowhead.com/ru/spell=114018/скрывающий-покров"
      /> или требуются усиленные яды (например на тиранической неделе), то
      замените <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      /> (если в ключе не требуется снимать енрейдж) или <WH
        text="Крепкий желудок"
        href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
      /> (если требуется) на <WH
        text="Stillshroud"
        href="https://www.wowhead.com/ptr-2/spell=423662/stillshroud"
      /> | <WH
        text="Мастер ядоварения"
        href="https://www.wowhead.com/ru/spell=378436/мастер-ядоварения"
      />.
    </p>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ DTB</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BQQAAAAAAAAAAAAAAAAAAAAAAAAQJBRSIJJhESkkEaJJRJJSLJAAAAAAItWSCHIJRBKpEAAAASCA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BQQAAAAAAAAAAAAAAAAAAAAAAAAQJBRSIJJhESkkEaJJRJJSLJAAAAAAItWSCHIJRBKpEAAAASCA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={M_KIR.src}
        alt="Билд для ключей головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={M_KIR2.src}
        alt="Билд для ключей головореза через Призовую игру"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[16px]">
      <WH
        text="Замедляющий яд"
        href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
      /> обычно используется на укрепленных неделях, а <WH
        text="Атрофический яд"
        href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
      /> на тиранических или высоких укрепленных неделях.
    </p>
    <p class="pt-[16px]">
      Если вам требуется чаще использовать <WH
        text="Скрывающий покров"
        href="https://www.wowhead.com/ru/spell=114018/скрывающий-покров"
      /> или требуются усиленные яды (например на тиранической неделе), то
      замените <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      /> (если в ключе не требуется снимать енрейдж) или <WH
        text="Крепкий желудок"
        href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
      /> (если требуется енрейдж) на <WH
        text="Stillshroud"
        href="https://www.wowhead.com/ptr-2/spell=423662/stillshroud"
      /> | <WH
        text="Мастер ядоварения"
        href="https://www.wowhead.com/ru/spell=378436/мастер-ядоварения"
      />.
    </p>
  </div>
</div>
