---
import WH from "../WH.astro";
import ST_DS1 from "../../assets/guide/assassination/builds/assa_st_ds_1.png";
import ST_DS2 from "../../assets/guide/assassination/builds/assa_ds_2.png";
import ST_DS3 from "../../assets/guide/assassination/builds/assa_st_ds_3.png";
import ST_FB1 from "../../assets/guide/assassination/builds/assa_st_fb_1.png";
import ST_FB2 from "../../assets/guide/assassination/builds/assa_fb_2.png";
import ST_FB3 from "../../assets/guide/assassination/builds/assa_st_fb_3.png";
import KEYS_KB1 from "../../assets/guide/assassination/builds/assa_keys_kb_1.png";
import KEYS_KB2 from "../../assets/guide/assassination/builds/assa_ds_2.png";
import KEYS_KB3 from "../../assets/guide/assassination/builds/assa_keys_kb_3.png";
import KEYS_BLEED1 from "../../assets/guide/assassination/builds/assa_keys_bleed_1.png";
import KEYS_BLEED2 from "../../assets/guide/assassination/builds/assa_ds_2.png";
import KEYS_BLEED3 from "../../assets/guide/assassination/builds/assa_keys_bleed_3.png";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-assa peer-checked/tab_one:neon-assa"
    >Рейд [DS]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAAAAAAAAAAAAAAAAAAAAAAMjZmhxM2mBAAAAAALDWmBAAAAAgsNzMDzMYmZWmtZmZMDGmZmxMbWGzAsZWGYALBLDTghFD</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAAAAAAAAAAAAAAAAAAAAAAMjZmhxM2mBAAAAAALDWmBAAAAAgsNzMDzMYmZWmtZmZMDGmZmxMbWGzAsZWGYALBLDTghFD?width=972&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_DS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_DS2.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_DS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Внутреннее кровотечение"
          href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
        /> берётся вместо <WH
          text="Едких капель"
          href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
        /> только на 5-ом боссе текущего рейда.
      </li>
      <li>
        <WH
          text="Улучшенная гаррота"
          href="https://www.wowhead.com/ru/spell=381632/улучшенная-гаррота"
        /> + <WH
          text="Мастер-убийца"
          href="https://www.wowhead.com/ru/spell=255989/мастер-убийца"
        /> примерно аналогичны <WH
          text="Неумолимому яду"
          href="https://www.wowhead.com/ru/spell=381634/неумолимый-яд"
        /> в одну цель. <WH
          text="Неумолимый яд"
          href="https://www.wowhead.com/ru/spell=381634/неумолимый-яд"
        /> даёт немного больше в аое/клив из-за <WH
          text="Едких капель"
          href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
        />, но если вы будете использовать <WH
          text="Улучшенная гаррота"
          href="https://www.wowhead.com/ru/spell=381632/улучшенная-гаррота"
        /> для мульти-дот (например на 6ом боссе), то этот вариант лучше.
      </li>
      <li>
        Иногда вы можете увидеть в логах что люди берут <WH
          text="Миниатюрный ядовитый клинок"
          href="https://www.wowhead.com/ru/spell=381800/миниатюрный-ядовитый-клинок"
        /> вместо
        <WH
          text="Укол в артерию"
          href="https://www.wowhead.com/ru/spell=400783/укол-в-артерию?def=117682"
        />, но это не имеет никакого смысла (см. сим ниже). При определенных
        характеристиках <WH
          text="Миниатюрный ядовитый клинок"
          href="https://www.wowhead.com/ru/spell=381800/миниатюрный-ядовитый-клинок"
        /> может давать чуть больше, но это только в одну цель (5 босс текущего рейда).
        Для всех остальных боссов <WH
          text="Миниатюрный ядовитый клинок"
          href="https://www.wowhead.com/ru/spell=381800/миниатюрный-ядовитый-клинок"
        /> 100% хуже <WH
          text="Укола в артерию"
          href="https://www.wowhead.com/ru/spell=400783/укол-в-артерию?def=117682"
        />.
      </li>
      <li>
        <WH
          text="Призрачную мантия"
          href="https://www.wowhead.com/ru/spell=457022/призрачная-мантия"
        /> и <WH
          text="Обманный прием"
          href="https://www.wowhead.com/ru/spell=457034/обманный-прием"
        /> выбирайте по необходимости.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-assa peer-checked/tab_two:neon-assa"
    >Рейд [FB]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAAAAAAAAAAAAAAAAAAAAAAMzMzMMmBDAAAAAAWGsMDAAAAAAZbmZmZmZwMzsMbzMzYgxMzMjZ2sMmBYbmlxCjZMLNmllhJbDDbG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAAAAAAAAAAAAAAAAAAAAAAMzMzMMmBDAAAAAAWGsMDAAAAAAZbmZmZmZwMzsMbzMzYgxMzMjZ2sMmBYbmlxCjZMLNmllhJbDDbG?width=972&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_FB1.src}
        alt="Служитель судьбы рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_FB2.src}
        alt="Служитель судьбы рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_FB3.src}
        alt="Служитель судьбы рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Внутреннее кровотечение"
          href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
        /> берётся вместо <WH
          text="Едких капель"
          href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
        /> только на 5-ом боссе текущего рейда.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ [KB]</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAAAAAAAAAAAAAAAAAAAAAAMjZmZGmhHYAAAAAAYWGsNDAAAAAAttMzMMzMYmZWmtxMDmZmZGMzMbWGzAsZWGYALBLDTghFA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAAAAAAAAAAAAAAAAAAAAAAMjZmZGmhHYAAAAAAYWGsNDAAAAAAttMzMMzMYmZWmtxMDmZmZGMzMbWGzAsZWGYALBLDTghFA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_KB1.src}
        alt="Ловчий смерти билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_KB2.src}
        alt="Ловчий смерти билд для ключей"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_KB3.src}
        alt="Ловчий смерти билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Улучшенная гаррота"
          href="https://www.wowhead.com/ru/spell=381632/улучшенная-гаррота"
        /> и <WH
          text="Внезапное удушье"
          href="https://www.wowhead.com/ru/spell=385478/внезапное-удушье"
        /> меняются на <WH
          text="Легкая заточка"
          href="https://www.wowhead.com/ru/spell=394983/легкая-заточка"
        /> и <WH
          text="Лихой негодяй"
          href="https://www.wowhead.com/ru/spell=381797/лихой-негодяй"
        />, а <WH
          text="Смертоносность"
          href="https://www.wowhead.com/ru/spell=382238/смертоносность"
        /> меняется на <WH
          text="Суперзарядка"
          href="https://www.wowhead.com/ru/spell=470347/суперзарядка"
        /> и
        <WH
          text="Принудительная индукция"
          href="https://www.wowhead.com/ru/spell=470668/принудительная-индукция"
        /> для получения варианта "KB с двумя <WH
          text="Отравляющими уколами"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        />". Это самый популярный вариант на данный момент. Меньше оверолл,
        больше урона в босса.
      </li>
      <li>
        <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> можно заменить на <WH
          text="Замедляющий яд"
          href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
        />. Тут всё зависит от танка, лучше спросить его до ключа. В высоких
        ключах, где уже могут быть ваншоты - <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> лучше.
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />
        можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. Но чем выше ключ, тем лучше <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />, а некоторые способности без нее просто не будут переживаться на
        определенном уровне ключа.
      </li>
      <li>
        Взять <WH
          text="Железную проволоку"
          href="https://www.wowhead.com/ru/spell=196861/железная-проволока"
        /> без сильных потерь дпса не получится. Минимальная потеря будет при замене
        <WH
          text="Поворота кинжала"
          href="https://www.wowhead.com/ru/spell=381669/поворот-кинжала"
        /> (3%+), что уже очень много. Замена любого другого таланта будет уже 5%+
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ [Bleed]</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CMQAAAAAAAAAAAAAAAAAAAAAAYmZMzMmBAAAAAAYWmxsMDAAAAAAttMzMYmBzMzysNYMmZmZmZmZYzyYGgNzyADYJYZYCMsMA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CMQAAAAAAAAAAAAAAAAAAAAAAYmZMzMmBAAAAAAYWmxsMDAAAAAAttMzMYmBzMzysNYMmZmZmZmZYzyYGgNzyADYJYZYCMsMA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_BLEED1.src}
        alt="Служитель судьбы билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_BLEED2.src}
        alt="Служитель судьбы билд для ключей"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_BLEED3.src}
        alt="Служитель судьбы билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Импульс отчаяния"
          href="https://www.wowhead.com/ru/spell=457067/импульс-отчаяния"
        /> можно заменить на <WH
          text="По следу крови"
          href="https://www.wowhead.com/ru/spell=457068/по-следу-крови"
        />. Это может дать немного больше оверолла, но уменьшит и так ужасный
        урон в босса.
      </li>
      <li>
        <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> можно заменить на <WH
          text="Замедляющий яд"
          href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
        />. Тут всё зависит от танка, лучше спросить его до ключа. В высоких
        ключах, где уже могут быть ваншоты - <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> лучше.
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />
        можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. Но чем выше ключ, тем лучше <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        />, а некоторые способности без нее просто не будут переживаться на
        определенном уровне ключа.
      </li>
      <li>
        Взять <WH
          text="Железную проволоку"
          href="https://www.wowhead.com/ru/spell=196861/железная-проволока"
        /> без сильных потерь дпса не получится. Минимальная потеря будет при замене
        <WH
          text="Легкой заточки"
          href="https://www.wowhead.com/ru/spell=394983/легкая-заточка"
        /> (~2.5%), что уже очень много. Замена любого другого таланта будет уже
        5%+
      </li>
    </ul>
  </div>
</div>
