---
import WH from "../WH.astro";
import ST from "../../assets/guide/assassination/builds/ST.webp";
import ST2 from "../../assets/guide/assassination/builds/ST2.webp";
import Cleave from "../../assets/guide/assassination/builds/Cleave.webp";
import Keys from "../../assets/guide/assassination/builds/Keys.webp";
import Keys2AP from "../../assets/guide/assassination/builds/Keys2AP.webp";
import Keys2DTB from "../../assets/guide/assassination/builds/Keys2DTB.webp";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-assa peer-checked/tab_one:neon-assa"
    >Рейд</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAEJJhkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaJREEJJJRSTLSAA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAEJJhkEEAAAAAASJJSJJAAAAAAgWSCSgkkSaJREEJJJRSTLSAA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={ST.src}
        alt="Стандартный рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST2.src}
        alt="Стандартный рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[16px]">
      <WH
        text="Внутреннее кровотечение"
        href="https://www.wowhead.com/ru/spell=381627/внутреннее-кровотечение"
      /> играется только в боях где одна цель (или для большего урона в босса,
      если не нужно аое или клив). В текущем рейде это Вулкаросс, Нимуэ и
      Пеплорон. На остальных боссах <WH
        text="Едкие капли"
        href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
      /> будут намного лучше. На Совете Снов можно заменить <WH
        text="Лихой негодяй"
        href="https://www.wowhead.com/ru/spell=381797/лихой-негодяй"
      /> на <WH
        text="Тотальная бойня"
        href="https://www.wowhead.com/ru/spell=381802/тотальная-бойня"
      />. Помните, что умные кровотечения работают относительно вашего
      персонажа, поэтому нужно позиционироваться так, чтобы быть близко к обоим
      целям.
    </p>
    <p class="pt-[30px]">
      К сожалению, взять <WH
        text="Акробатические удары"
        href="https://www.wowhead.com/ru/spell=196924/акробатические-удары"
      /> можно только с потерей огромного количества урона (~10к).
    </p>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-assa peer-checked/tab_two:neon-assa"
    >Рейд (SBS)</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAAAAAAAAAAAAAAAAAAAAAAkWSSISQAAAAAAIlkIlkAAAAAAAaJJIBSSKpFREkkkkEJNtIBA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAAAAAAAAAAAAAAAAAAAAAAkWSSISQAAAAAAIlkIlkAAAAAAAaJJIBSSKpFREkkkkEJNtIBA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={ST.src}
        alt="Рейдовый билд через шип"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={Cleave.src}
        alt="Рейдовый билд через шип"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p class="pt-[30px]">
      Этот билд симится в +- 0.4%, зависит от ваших характеристик. Если на боссе
      имеются доп цели, через которых вы можете откатывать шип, этот билд может
      быть лучше. Стандартный билд в свою очередь более "бурстовый".
    </p>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ AP</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAcWb37Z8KXj8LlE1rTPXfsRSkkIQAAAAAAIlkIlkAAAAAAAtWkgEIJpkSQEJRSSSS0alkEA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAcWb37Z8KXj8LlE1rTPXfsRSkkIQAAAAAAIlkIlkAAAAAAAtWkgEIJpkSQEJRSSSS0alkEA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={Keys.src}
        alt="Билд для ключей ликвидации через укол в артерию"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={Keys2AP.src}
        alt="Билд для ключей ликвидации через укол в артерию"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <ul class="flex flex-col list-disc list-inside gap-[16px] my-[16px]">
      <li>
        К сожалению взять <WH
          text="Акробатические удары"
          href="https://www.wowhead.com/ru/spell=196924/акробатические-удары"
        /> можно только потеряв 10к+ урона, поэтому не стоит их брать, да и в
        ликвидации они не особо нужны из-за "умных" кровотечений
      </li>
      <li>
        <WH
          text="Замедляющий яд"
          href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
        /> обычно используется на укрепленных неделях, а <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> на тиранических или высоких укрепленных неделях.
      </li>
      <li>
        <WH
          text="Скрывающий покров"
          href="https://www.wowhead.com/ru/spell=114018/скрывающий-покров"
        /> или <WH
          text="Изящный обман"
          href="https://www.wowhead.com/ru/spell=423647/изящный-обман"
        /> можно заменить на <WH
          text="Мастер ядоварения"
          href="https://www.wowhead.com/ru/spell=378436/мастер-ядоварения"
        /> при необходимости.
      </li>
      <li>
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> можно заменить на <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> в высоких тиранических ключах, где не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        />.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ DTB</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">BMQAcWb37Z8KXj8LlE1rTPXfsRSkkIQAAAAAAIlkIlkAAAAAAAtWkgEIJpkSERkEJhkk0alkEA</code></pre>
    <embed
      class="min-h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BMQAcWb37Z8KXj8LlE1rTPXfsRSkkIQAAAAAAIlkIlkAAAAAAAtWkgEIJpkSERkEJhkk0alkEA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div
      class="grid grid-rows-1 xl:grid-cols-[43.5%_1fr] desktop:hidden justify-center items-center"
    >
      <img
        src={Keys.src}
        alt="Билд для ключей ликвидации через 4 яда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src={Keys2DTB.src}
        alt="Билд для ключей ликвидации через 4 яда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center"
        loading="lazy"
        decoding="async"
      />
    </div>
    <ul class="flex flex-col list-disc list-inside gap-[16px] my-[16px]">
      <li>
        К сожалению взять <WH
          text="Акробатические удары"
          href="https://www.wowhead.com/ru/spell=196924/акробатические-удары"
        /> можно только потеряв 10к+ урона, поэтому не стоит их брать, да и в
        ликвидации они не особо нужны из-за "умных" кровотечений
      </li>
      <li>
        <WH
          text="Замедляющий яд"
          href="https://www.wowhead.com/ru/spell=5761/замедляющий-яд"
        /> обычно используется на укрепленных неделях, а <WH
          text="Атрофический яд"
          href="https://www.wowhead.com/ru/spell=381637/атрофический-яд"
        /> на тиранических или высоких укрепленных неделях.
      </li>
      <li>
        <WH
          text="Скрывающий покров"
          href="https://www.wowhead.com/ru/spell=114018/скрывающий-покров"
        /> или <WH
          text="Изящный обман"
          href="https://www.wowhead.com/ru/spell=423647/изящный-обман"
        /> можно заменить на <WH
          text="Мастер ядоварения"
          href="https://www.wowhead.com/ru/spell=378436/мастер-ядоварения"
        /> при необходимости.
      </li>
      <li>
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> можно заменить на <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> в высоких тиранических ключах, где не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        />.
      </li>
    </ul>
  </div>
</div>
