---
import WH from "../WH.astro";
import T from "../../assets/guide/outlaw/builds/trick.png";
import ST_KIR1 from "../../assets/guide/outlaw/builds/raid_kir_1.png";
import ST_KIR2 from "../../assets/guide/outlaw/builds/raid_kir_2.png";
import ST_HO1 from "../../assets/guide/outlaw/builds/raid_ho_1.png";
import ST_HO2 from "../../assets/guide/outlaw/builds/raid_ho_2.png";
import KEYS_KIR1 from "../../assets/guide/outlaw/builds/keys_kir_1.png";
import KEYS_KIR2 from "../../assets/guide/outlaw/builds/keys_kir_2.png";
import KEYS_HO1 from "../../assets/guide/outlaw/builds/keys_ho_1.png";
import KEYS_HO2 from "../../assets/guide/outlaw/builds/keys_ho_2.png";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-hover peer-checked/tab_one:neon-hover"
    >Рейд KiR [T]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mxMjZMzMzYYGGMjhZmZmWmxsNDAAAAAAsNzMDzMjFYZ2GAAAAmZGwgZb2MzMjmZ2YWYZbahNzA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mxMjZMzMzYYGGMjhZmZmWmxsNDAAAAAAsNzMDzMjFYZ2GAAAAmZGwgZb2MzMjmZ2YWYZbahNzA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_KIR1.src}
        alt="Классовая ветка рейдового Кир билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Героическая ветка рейдового Кир билда"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_KIR2.src}
        alt="Спековая ветка рейдового Кир билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        На 5ом боссе можно играть в Служителе судьбы, нужно помимо героической
        ветки так же поменять <WH
          text="Череду убийств"
          href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
        /> на <WH
          text="Правой, левой, правой"
          href="https://www.wowhead.com/ru/spell=382746/правой-левой-правой"
        />
      </li>
      <li>Для 4-го босса просто используйте таланты из М+</li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-outlaw peer-checked/tab_two:neon-outlaw"
    >Рейд HO [T]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mZmZMjZYGDzwgZMzMmZmWmxsMDAAAAAAsNzMDzMjFYZ2GAAAAmZGAMmNDDZgZhFahNzA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mZmZMjZYGDzwgZMzMmZmWmxsMDAAAAAAsNzMDzMjFYZ2GAAAAmZGAMmNDDZgZhFahNzA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_HO1.src}
        alt="Классовая ветка рейдового ХО билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Героическая ветка рейдового ХО билда"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_HO2.src}
        alt="Спековая ветка рейдового ХО билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        На 5ом боссе можно играть в Служителе судьбы, нужно помимо героической
        ветки так же поменять <WH
          text="Череду убийств"
          href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
        /> на <WH
          text="Правой, левой, правой"
          href="https://www.wowhead.com/ru/spell=382746/правой-левой-правой"
        />
      </li>
      <li>Для 4-го босса просто используйте таланты из М+</li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ KiR [T]</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mBjZGzMzYYGegxMzMMzMz0yMmtZAAAAAAY2WmZGMzMWglZbAAAAYmZAwY2MMwAzCL0CbGA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mBjZGzMzYYGegxMzMMzMz0yMmtZAAAAAAY2WmZGMzMWglZbAAAAYmZAwY2MMwAzCL0CbGA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_KIR1.src}
        alt="Классовая ветка рейдового Кир билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Героическая ветка рейдового Кир билда"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_KIR2.src}
        alt="Спековая ветка рейдового Кир билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-outlaw peer-checked/tab_four:neon-outlaw"
    >М+ HO [T]</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mZgZmZYGDzwMmZMzMmZmWmxsMDAAAAAAz2yMzgZmxCsMbDAAAAzMDAGzmhhMwswCtwmB</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQAAAAAAAAAAAAAAAAAAAAAAAAM2mZgZmZYGDzwMmZMzMmZmWmxsMDAAAAAAz2yMzgZmxCsMbDAAAAzMDAGzmhhMwswCtwmB?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_HO1.src}
        alt="Классовая ветка рейдового ХО билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Героическая ветка рейдового ХО билда"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_HO2.src}
        alt="Спековая ветка рейдового ХО билда"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Выверенный риск"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        /> можно заменить на <WH
          text="Призрачный удар"
          href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
        />, так вы увеличите оверолл (в симе) ~ на 1.5%, однако <WH
          text="Выверенный риск"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        /> помогает в ситуациях с плохими роллами и может быть как намного сильнее,
        так и хуже. В одну цель <WH
          text="Призрачный удар"
          href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
        /> намного сильнее.
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>
</div>
