---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import Sim from "../Sim.astro";
import Race from "../Race.astro";

import RacesRaid from "../../assets/guide/outlaw/sim/races_raid.png";
import Dwarf from "../../assets/guide/races/race_dwarf.webp";
import Tauren from "../../assets/guide/races/race_tauren.webp";
import NightElf from "../../assets/guide/races/race_nightelf.webp";
import Mechagnome from "../../assets/guide/races/race_mechagnome.webp";
---

<section
  id={outlawMenuItems[0].to}
  class="pt-[40px] w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[0].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      На данный момент разница между лучшей и худшей расой составляет ~2% (не
      больше 1% среди "популярных рас"). Так что, если вы не стремитесь к
      максимизации эффективности, смело можете выбирать того, кто нравится
      визуально. Однако в каждом контенте (рейды | ключи | пвп) есть расы,
      которые сильно упростят вашу жизнь благодаря утилити/защитным
      способностям. Не существует лучшей расы для всего, и вам придется
      выбирать, что вам важнее (рейд | ключи | пвп | визуальная составляющая).
    </p>
    <p>
      Также стоит помнить, что с ростом характеристик в последующих патчах
      некоторые расы становятся сильнее (дворфы, люди, таурены) / слабее (все
      расы с характеристиками и баффами, такие как орки, мехагномы, дворфы
      черного железа, тролли, магхары). При этом, если вы собираетесь играть в
      других специализациях, желательно также ознакомиться с ними. Ниже я напишу
      лучшие, по моему мнению, расы.
    </p>
    <ul class="flex flex-col gap-[16px]">
      <li class="border border-1 p-[20px] rounded-md border-border">
        <Race
          title="Дворфы"
          url={Dwarf.src}
          href="https://www.wowhead.com/ru/race=3/дворф"
        /> - на старте дополнения не являются лучшей расой по дпсу (только у головореза),
        однако с ростом значений критического удара становятся все сильнее (<WH
          text="Мощь гор"
          href="https://www.wowhead.com/ru/spell=59224/мощь-гор"
        />). Лучшая раса для ключей и рейда. Расовая способность (<WH
          text="Каменная форма"
          href="https://www.wowhead.com/ru/spell=20594/каменная-форма"
        />) не раз спасёт вам жизнь, особенно в высоких ключах, а так же может
        упростить отыгрыш в рейде. Если вы не в контроле, снимает всё, что могут
        способности других классов.
        <li class="border border-1 p-[20px] rounded-md border-border">
          <Race
            title="Таурены"
            url={Tauren.src}
            href="https://www.wowhead.com/ru/race=6/таурен"
          /> | <Race
            title="Механогномы"
            url={Mechagnome.src}
            href="https://www.wowhead.com/ru/race=37/механогном"
          /> - просто сильные по урону расы (на уровне <Race
            title="Дворфов"
            url={Dwarf.src}
            href="https://www.wowhead.com/ru/race=3/дворф"
          />), но не имеют других полезных способностей.
        </li>
        <li class="border border-1 p-[20px] rounded-md border-border">
          <Race
            title="Ночные эльфы"
            url={NightElf.src}
            href="https://www.wowhead.com/ru/race=4/ночной-эльф"
          /> - лучшая раса для пвп и ключей из-за дополнительной невидимости от <WH
            text="Слиться с тенью"
            href="https://www.wowhead.com/ru/spell=58984/слиться-с-тенью"
          />. Для рейдов не имеет ничего полезного ни в одной специализации (<WH
            text="Слиться с тенью"
            href="https://www.wowhead.com/ru/spell=58984/слиться-с-тенью"
          /> не дает уйти в невидимость на боссах). Стоит выбрать если вам важнее
          ключи / пвп (в любых специализациях), а 1% дпса в рейде вас не беспокоит.
        </li>
        <li>
          Остальные расы можно объединить, так как они не являются лучшими ни в
          пве, ни в пвп и обычно выбираются из-за визуальной составляющей.
        </li>
      </li>
    </ul>
    <Sim title="Сим рас (одна цель 5 минут)">
      <img
        src={RacesRaid.src}
        alt="Сим рас в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Сим рас (ключ)">
      В симе рас для ключей нету особого смысла. Они все очень близки (~1%
      разницы). Дворф помимо лучшего урона имеет и лучшую расовую для выживания,
      так что они безоговорочно лучшие, из альтернатив можно рассматривать
      ночных эльфов для дополнительного рестелса.
    </Sim>
  </div>
</section>
