---
import { Image } from "astro:assets";
import WH from "../WH.astro";
import outlawStHo from "../../assets/guide/outlaw_st_ho.png";
import outlawStHo2 from "../../assets/guide/outlaw_st_ho2.png";
import outlawStHoFull from "../../assets/guide/outlaw_st_ho_full.png";
import outlawStKir from "../../assets/guide/outlaw_st_kir.png";
import outlawStKir2 from "../../assets/guide/outlaw_st_kir2.png";
import outlawStKirFull from "../../assets/guide/outlaw_st_kir_full.png";
import outlawMplusHo from "../../assets/guide/outlaw_mplus_ho.png";
import outlawMplusHo2 from "../../assets/guide/outlaw_mplus_ho2.png";
import outlawMplusHoFull from "../../assets/guide/outlaw_mplus_ho_full.png";
import outlawMplusKir from "../../assets/guide/outlaw_mplus_kir.png";
import outlawMplusKir2 from "../../assets/guide/outlaw_mplus_kir2.png";
import outlawMplusKirFull from "../../assets/guide/outlaw_mplus_kir_full.png";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-clamp_text text-secondary text-center"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[50%] lg:w-[25%] select-none outline outline-1 outline-gray-800 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-hover peer-checked/tab_one:neon-hover"
    >Рейд HO</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <p class="py-[16px] min-h-[62px]">
      Рейд HO <WH
        text="Скрытая возможность"
        href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
      />
    </p>
    <pre><code class="text-base">BQQAAAAAAAAAAAAAAAAAAAAAAAAEkkEJCSSIJCSkkmkEtkIlkAAAAAAAaJJxBSEFSKpFAAAASCA</code></pre>
    <embed
      class="h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BQQAAAAAAAAAAAAAAAAAAAAAAAAEkkEJCSSIJCSkkmkEtkIlkAAAAAAAaJJcgERhkSaBAAAQSCA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div class="flex flex-col justify-center items-center">
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawStHo}
        alt="Рейдовый билд головореза через Скрытую возможность"
      />
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawStHo2}
        alt="Рейдовый билд головореза через Скрытую возможность"
      />
      <Image
        class="hidden xl:block desktop:hidden mt-[15px]"
        quality="100"
        src={outlawStHoFull}
        alt="Рейдовый билд головореза через Скрытую возможность"
      />
    </div>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[50%] lg:w-[25%] select-none outline outline-1 outline-gray-800 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-hover peer-checked/tab_two:neon-hover"
    >Рейд KiR</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <p class="py-[16px] min-h-[62px]">
      Рейд KiR <WH
        text="Призовая игра"
        href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
      />
    </p>
    <pre><code class="text-base">BQQAAAAAAAAAAAAAAAAAAAAAAAAElEJRiIJJhkIIRolkElkItkAAAAAAAaJJxBSSUgWaBAAAgkAA</code></pre>
    <embed
      class="h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BQQAAAAAAAAAAAAAAAAAAAAAAAAElEJRiIJJhkIIRolkElkItkAAAAAAAaJJxBSSUgWaBAAAgkAA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div class="flex flex-col justify-center items-center">
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawStKir}
        alt="Рейдовый билд головореза через Призовую игру"
      />
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawStKir2}
        alt="Рейдовый билд головореза через Призовую игру"
      />
      <Image
        class="hidden xl:block desktop:hidden mt-[15px]"
        quality="100"
        src={outlawStKirFull}
        alt="Рейдовый билд головореза через Призовую игру"
      />
    </div>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[50%] lg:w-[25%] select-none outline outline-1 outline-gray-800 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ HO</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <p class="py-[16px] min-h-[62px]">
      М+ HO <WH
        text="Скрытая возможность"
        href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
      /> билд
    </p>
    <pre><code class="text-base">BQQAAAAAAAAAAAAAAAAAAAAAAAAAJEJBSSIhEJJJpJJRJJSJJAAAAAAItWSCSSUIpkSAAAAIJA</code></pre>
    <embed
      class="h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BQQAAAAAAAAAAAAAAAAAAAAAAAAAJEJBSSIhEJJJpJJRJJSJJAAAAAAItWSCSSUIpkSAAAAIJA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div class="flex flex-col justify-center items-center">
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawMplusHo}
        alt="Билд для ключей головореза через Скрытую возможность"
      />
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawMplusHo2}
        alt="Билд для ключей головореза через Скрытую возможность"
      />
      <Image
        class="hidden xl:block desktop:hidden mt-[15px]"
        quality="100"
        src={outlawMplusHoFull}
        alt="Билд для ключей головореза через Скрытую возможность"
      />
    </div>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[50%] lg:w-[25%] select-none outline outline-1 outline-gray-800 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ KiR</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <p class="py-[16px] min-h-[62px]">
      М+ KiR <WH
        text="Призовая игра"
        href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
      /> билд
    </p>
    <pre><code class="text-base">BQQAAAAAAAAAAAAAAAAAAAAAAAAQJBRSIJJhESkkEaJJRJJSLJAAAAAAItWSCHIJRBKpEAAAASCA</code></pre>
    <embed
      class="h-[650px] w-full pt-[16px] hidden desktop:block"
      src="https://mimiron.raidbots.com/simbot/render/talents/BQQAAAAAAAAAAAAAAAAAAAAAAAAQJBRSIJJhESkkEaJJRJJSLJAAAAAAItWSCHIJRBKpEAAAASCA?width=1024&hideHeader=1&locale=ru_RU"
    />
    <div class="flex flex-col justify-center items-center">
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawMplusKir}
        alt="Билд для ключей головореза через Призовую игру"
      />
      <Image
        class="xl:hidden mt-[15px]"
        quality="100"
        src={outlawMplusKir2}
        alt="Билд для ключей головореза через Призовую игру"
      />
      <Image
        class="hidden xl:block desktop:hidden mt-[15px]"
        quality="100"
        src={outlawMplusKirFull}
        alt="Билд для ключей головореза через Призовую игру"
      />
    </div>
  </div>
</div>
