---
import WH from "../WH.astro";
import FB2 from "../../assets/guide/outlaw/builds/outlaw_2.webp";
import ST_KIR1 from "../../assets/guide/outlaw/builds/outlaw_st_fb_kir_1.webp";
import ST_KIR3 from "../../assets/guide/outlaw/builds/outlaw_st_fb_kir_3.webp";
import ST_HO1 from "../../assets/guide/outlaw/builds/outlaw_st_fb_ho_1.webp";
import ST_HO3 from "../../assets/guide/outlaw/builds/outlaw_st_fb_ho_3.webp";
import KEYS_KIR1 from "../../assets/guide/outlaw/builds/outlaw_keys_fb_kir_1.webp";
import KEYS_KIR3 from "../../assets/guide/outlaw/builds/outlaw_keys_fb_kir_3.webp";
import KEYS_HO1 from "../../assets/guide/outlaw/builds/outlaw_keys_fb_ho_1.webp";
import KEYS_HO3 from "../../assets/guide/outlaw/builds/outlaw_keys_fb_ho_3.webp";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-outlaw peer-checked/tab_one:neon-outlaw"
    >Рейд HO [FB]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQA27SZpS4XnmFfcXRqkppuwDAMwMzYGDmZGmhBzYmZMzMtMjZZGAAAAAAYbmZGmZGLjZWmtBAAAgZmBMwGMjRjZDw2EWMD</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQA27SZpS4XnmFfcXRqkppuwDAMwMzYGDmZGmhBzYmZMzMtMjZZGAAAAAAYbmZGmZGLjZWmtBAAAgZmBMwGMjRjZDw2EWMD?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_HO1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={FB2.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_HO3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Череду убийств"
          href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
        /> можно заменить на
        <WH
          text="Правой, левой, правой"
          href="https://www.wowhead.com/ru/spell=382746/правой-левой-правой"
        /> практически без потерь дпса. Это упростит геймплей, но снизит бурстовый
        урон (практически не влияя на общий урон).
      </li>
      <li>
        Сейчас нету возможности легко взять <WH
          text="Точные удары"
          href="https://www.wowhead.com/ru/spell=381985/точные-удары"
        />, поэтому как такового клив билда для рейда нету. Если аое постоянное
        - проще взять М+ билд.
      </li>
      <li>
        Если вы по какой-то причине хотите играть в трикстере, то вам даже
        ничего не нужно менять среди обычных талантов. Но лучше этого не делать.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-hover peer-checked/tab_two:neon-hover"
    >Рейд KiR [FB]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQA27SZpS4XnmFfcXRqkppuwDAMWmxMjZMmZmZYGGjZMMzMz0yMmtZAAAAAAgtZmZ8AzMjFYZ2GAAAAmZAGYDmxoxsBYbCLmB</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQA27SZpS4XnmFfcXRqkppuwDAMWmxMjZMmZmZYGGjZMMzMz0yMmtZAAAAAAgtZmZ8AzMjFYZ2GAAAAmZAGYDmxoxsBYbCLmB?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_KIR1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={FB2.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_KIR3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        Сейчас нету возможности легко взять <WH
          text="Точные удары"
          href="https://www.wowhead.com/ru/spell=381985/точные-удары"
        />, поэтому как такового клив билда для рейда нету. Если аое постоянное
        - проще взять М+ билд.
      </li>
      <li>
        Если вы по какой-то причине хотите играть в трикстере, то вам нужно
        заменить <WH
          text="Правой, левой, правой"
          href="https://www.wowhead.com/ru/spell=382746/правой-левой-правой"
        /> на <WH
          text="Череду убийств"
          href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
        />, но лучше этого не делать.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-outlaw peer-checked/tab_three:neon-outlaw"
    >М+ HO [FB]</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQA27SZpS4XnmFfcXRqkppuwDAMwwYmZwMzwMMMzMzMjZmplZMLzAAAAAAwstwMYmZsMmZZ2GAAAAzMDwAbwMGNmNAbTYxMA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQA27SZpS4XnmFfcXRqkppuwDAMwwYmZwMzwMMMzMzMjZmplZMLzAAAAAAwstwMYmZsMmZZ2GAAAAzMDwAbwMGNmNAbTYxMA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_HO1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={FB2.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_HO3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        Если вы по какой-то причине хотите играть в трикстере, то вам нужно
        заменить <WH
          text="Быструю нарезку"
          href="https://www.wowhead.com/ru/spell=381988/быстрая-нарезка"
        /> на <WH
          text="Череду убийств"
          href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
        />, но лучше этого не делать.
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ KiR [FB]</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CQQA27SZpS4XnmFfcXRqkppuwDAMWmBjZmxMzMDzwwMzMMzMz0yMmtZAAAAAAY2WYGegZmxCsMbDAAAgZmBYgNYGjGzGgtJsYG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CQQA27SZpS4XnmFfcXRqkppuwDAMWmBjZmxMzMDzwwMzMMzMz0yMmtZAAAAAAY2WYGegZmxCsMbDAAAgZmBYgNYGjGzGgtJsYG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_KIR1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={FB2.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_KIR3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        Если вы по какой-то причине хотите играть в трикстере, то вам нужно
        заменить <WH
          text="Быструю нарезку"
          href="https://www.wowhead.com/ru/spell=381988/быстрая-нарезка"
        /> на <WH
          text="Череду убийств"
          href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
        />, но лучше этого не делать.
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>
</div>
