---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import Tabs from "./Outlaw_tabs.astro";
import Sim from "../Sim.astro";
import SimSt from "../../assets/guide/outlaw/sim/outlaw_st_builds.png";
import SimForti from "../../assets/guide/outlaw/sim/outlaw_forti.png";
import SimTyra from "../../assets/guide/outlaw/sim/outlaw_tyra.png";
---

<section
  id={outlawMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      У головореза существует 2 основных билда, названия которых происходят от
      сокращений главных способностей (капстоунов) на английском языке, все
      остальные билды являются их производными с небольшими отличиями:
    </p>
    <ul class="flex flex-col gap-[16px]">
      <li>
        1. HO (Hidden Opportunity) билд <WH
          text="Скрытая возможность"
          href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
        />
      </li>
      <li>
        2. KiR (Keep It Rolling) билд <WH
          text="Призовая игра"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        />
      </li>
    </ul>
    <p>
      Для рейда HO билд значительно сильнее. KiR в свою очередь сильнее во всех
      подземельях (если использовать абуз). Без абуза костей, оба билда примерно
      одинаковы и вы можете играть в том, который нравится. Подробнее про абузы в
      обоих спеках тут:
    </p>
    <div class="flex flex-col gap-[10px] items-center md:flex-row pb-[10px]">
      <iframe
        src="https://www.youtube.com/embed/HNfEKYVaaHs"
        title="кир абуз"
        class="w-full h-full aspect-video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <iframe
        src="https://www.youtube.com/embed/OWDYETtYpHk"
        title="хо абуз"
        class="w-full h-full aspect-video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <Tabs />
    <Sim title="Одна цель 5 минут">
      <ul class="flex flex-col list-decimal list-inside gap-[10px] my-[10px]">
        <li>В симе УЧИТЫВАЕТСЯ абуз ХО билда</li>
        <li>В симе НЕ УЧИТЫВАЕТСЯ абуз костей КиР билда</li>
      </ul>
      <img
        src={SimSt.src}
        alt="Сим талантов и билдов в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Ключ 26 Чаща (укреп)">
      <ul class="flex flex-col list-decimal list-inside gap-[10px] my-[10px]">
        <li>В симе УЧИТЫВАЕТСЯ абуз ХО билда</li>
        <li>В симе НЕ УЧИТЫВАЕТСЯ абуз костей КиР билда</li>
      </ul>
      <img
        src={SimForti.src}
        alt="Сим талантов и билдов в укрепленном ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Ключ 25 Чаща (тираник)">
      <ul class="flex flex-col list-decimal list-inside gap-[10px] my-[10px]">
        <li>В симе УЧИТЫВАЕТСЯ абуз ХО билда</li>
        <li>В симе НЕ УЧИТЫВАЕТСЯ абуз костей КиР билда</li>
      </ul>
      <img
        src={SimTyra.src}
        alt="Сим талантов и билдов в тираническом ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </div>
</section>
