---
import WH from "../WH.astro";
import T from "../../assets/guide/subtlety/builds/sub_trickster.webp";
import DS from "../../assets/guide/subtlety/builds/sub_ds.webp";
import ST_IS1 from "../../assets/guide/subtlety/builds/sub_st_is_t_1.webp";
import ST_IS3 from "../../assets/guide/subtlety/builds/sub_st_is_t_3.webp";
import KEYS_DB_T1 from "../../assets/guide/subtlety/builds/sub_keys_db_t_1.webp";
import KEYS_DB_T3 from "../../assets/guide/subtlety/builds/sub_keys_db_t_3.webp";
import KEYS_DB_DS1 from "../../assets/guide/subtlety/builds/sub_keys_db_ds_1.webp";
import KEYS_DB_DS3 from "../../assets/guide/subtlety/builds/sub_keys_db_ds_3.webp";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-sub peer-checked/tab_one:neon-sub"
    >Рейд IS [T]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAWmZmlpxMLLzYYMMMzMzMGz2YMzYbmZmZmZAjlZbAAAAYGMAGzmhBGYW0CtYjZG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAWmZmlpxMLLzYYMMMzMzMGz2YMzYbmZmZmZAjlZbAAAAYGMAGzmhBGYW0CtYjZG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_IS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_IS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Уверенная поступь"
          href="https://www.wowhead.com/ru/spell=400804/уверенная-поступь"
        /> можно заменить на <WH
          text="Ослепление"
          href="https://www.wowhead.com/ru/spell=2094/ослепление"
        /> при необходимости
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-sub peer-checked/tab_two:neon-sub"
    >Рейд IS [DS]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAWmZmlpxMLLzYYMMMzMzMGz2YMzYbmZmZmZAjlZbAAAAYGMsYWGYALglhJkZhZG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAWmZmlpxMLLzYYMMMzMzMGz2YMzYbmZmZmZAjlZbAAAAYGMsYWGYALglhJkZhZG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_IS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_IS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Уверенная поступь"
          href="https://www.wowhead.com/ru/spell=400804/уверенная-поступь"
        /> можно заменить на <WH
          text="Ослепление"
          href="https://www.wowhead.com/ru/spell=2094/ослепление"
        /> при необходимости
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ DB [T]</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQA27SZpS4XnmFfcXRqkppuwDAMAAAAAAAzyYmlJYBmZGzMzMzMjZmxsNGzMbLMjZmZwYmlZbAAAAMzgBwY2MMwAziWoFbYG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQA27SZpS4XnmFfcXRqkppuwDAMAAAAAAAzyYmlJYBmZGzMzMzMjZmxsNGzMbLMjZmZwYmlZbAAAAMzgBwY2MMwAziWoFbYG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_DB_T1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DB_T3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> можно заменить на любой другой талант если вам не требуется снимать исступления
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ DB [DS]</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQA27SZpS4XnmFfcXRqkppuwDAMAAAAAAAzyYmlJYBmZGzMzMzMjZmxsNGzMbLMjZmZwYmlZbAAAAMzghFzyMmtZYswwyMLTL0ysgZA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQA27SZpS4XnmFfcXRqkppuwDAMAAAAAAAzyYmlJYBmZGzMzMzMjZmxsNGzMbLMjZmZwYmlZbAAAAMzghFzyMmtZYswwyMLTL0ysgZA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_DB_DS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DB_DS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> можно заменить на любой другой талант если вам не требуется снимать исступления
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>
</div>
