---
import WH from "../WH.astro";
import T from "../../assets/guide/subtlety/builds/tr_2.png";
import DS from "../../assets/guide/subtlety/builds/ds_2.png";
import ST_TR_1 from "../../assets/guide/subtlety/builds/st_tr_1.png";
import ST_TR_3 from "../../assets/guide/subtlety/builds/st_tr_3.png";
import ST_DS_1 from "../../assets/guide/subtlety/builds/st_ds_1.png";
import ST_DS_3 from "../../assets/guide/subtlety/builds/st_ds_1.png";
import KEYS_TR_1 from "../../assets/guide/subtlety/builds/keys_tr_1.png";
import KEYS_TR_3 from "../../assets/guide/subtlety/builds/keys_tr_3.png";
import KEYS_DS_1 from "../../assets/guide/subtlety/builds/keys_ds_1.png";
import KEYS_DS_3 from "../../assets/guide/subtlety/builds/keys_ds_3.png";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-hover peer-checked/tab_one:neon-hover"
    >Рейд [Trickster]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAALjxy0YmlxYGjhhZmZGGz2sMjZsNzMzMzMgxysNAAAAMDGAjZzwADMLahWshZA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAALjxy0YmlxYGjhhZmZGGz2sMjZsNzMzMzMgxysNAAAAMDGAjZzwADMLahWshZA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_TR_1.src}
        alt="Ловкач рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловкач рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_TR_3.src}
        alt="Ловкач рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        Если в бою несколько целей, то лучше поменять <WH
          text="Улучшенная теневая техника"
          href="https://www.wowhead.com/ru/spell=394023/улучшенная-теневая-техника"
        /> и <WH
          text="Запланированная казнь"
          href="https://www.wowhead.com/ru/spell=382508/запланированная-казнь"
        /> на <WH
          text="Завершение"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        /> и <WH
          text="Размножающиеся тени"
          href="https://www.wowhead.com/ru/spell=382506/размножающиеся-тени"
        />. В одну цель эти 2 таланта хуже ~ на 0.2% дпса, так что в целом - вы
        можете с ними бегать всегда, как и в предыдущем сезоне.
      </li>
      <li>
        <WH
          text="Улучшенный шквал сюрикэнов"
          href="https://www.wowhead.com/ru/spell=319951/улучшенный-шквал-сюрикэнов"
        /> теперь стандартный выбор, так как мы используем <WH
          text="Шквал сюрикэнов"
          href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
        /> даже в одну цель.
      </li>
      <li>
        <WH text="Дым" href="https://www.wowhead.com/ru/spell=441247/дым" /> можно
        заменить на <WH
          text="Зеркала"
          href="https://www.wowhead.com/ru/spell=441250/зеркала"
        /> если на боссе большинство урона идет не от самого босса, а от окружения.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-sub peer-checked/tab_two:neon-sub"
    >Рейд [DS]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0MzYmxwYYYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMLYG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0MzYmxwYYYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMLYG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_DS_1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_DS_3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex text-center items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >Ключи [Trickster]</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYmxMzYMDzMjhxsNLGzstNzMmZmBMWmtBAAAgZwAYMbGGYgZRL0iNYA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYmxMzYMDzMjhxsNLGzstNzMmZmBMWmtBAAAgZwAYMbGGYgZRL0iNYA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_TR_1.src}
        alt="Ловкач билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловкач билд для ключей"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_TR_3.src}
        alt="Ловкач билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Завершение"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        /> всё еще, по симам, лучше
        <WH
          text="Мастера гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        /> ~ на 1%. Однако,<WH
          text="Мастер гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        />, особенно после исправления (больше не поглощается оба стака одним <WH
          text="Шквалом сюрикэнов"
          href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
        />) - сильно упрощает отыгрыш. Так как не нужно следить за количеством <WH
          text="Выявлением слабости"
          href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
        /> на целях (<WH
          text="Шквал сюрикэнов"
          href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
        /> повесит дебафф на всех). Поэтому теперь это стандартный выбор
      </li>
      <li>
        <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        /> починили, теперь он корректно начинает работать после выхода из боя. На
        момент обновления гайда, талант всё ещё не симится. Но если вам дают хоть
        иногда рестелс или вам иногда удаётся забагать его, то он определенно лучше
        чем <WH
          text="Мастер боя"
          href="https://www.wowhead.com/ru/spell=193537/мастер-боя"
        />. Очень желательно чтобы вам давали рестелс перед боссами, так как это
        сильно улучает стартовый бурст. Макрос для абуза бага (срабатывает не
        всегда):
        <pre
          class="mt-[10px]"><code class="text-base">#showtooltip Исчезновение
/cast Шквал сюрикэнов
/cast Исчезновение</code></pre>
      </li>
      <li>
        Вы можете поменять 2 любых таланта: <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> | <WH
          text="Омертвевшие нервы"
          href="https://www.wowhead.com/ru/spell=231719/омертвевшие-нервы"
        /> | <WH
          text="Крепкий желудок"
          href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
        /> | <WH
          text="Похищающий жизнь яд"
          href="https://www.wowhead.com/ru/spell=280716/похищающий-жизнь-яд"
        /> на <WH
          text="Быструю засаду"
          href="https://www.wowhead.com/ru/spell=378803/быстрая-засадае"
        /> + <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> и сдавать его просто для ускорения группы
      </li>
      <li>
        Учитывая текущую выживаемость разбойника, я рекомендую
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> как основной талант для большинства. <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> может потребоваться только в очень высоких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-sub peer-checked/tab_four:neon-sub"
    >Ключи [DS]</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYwMzYMzMzMjhxsNLGzstNzMYmBjZWmtBAAAgZwwmZZgBsAWGmQmFYA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYwMzYMzMzMjhxsNLGzstNzMYmBjZWmtBAAAgZwwmZZgBsAWGmQmFYA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_DS_1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DS_3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        /> починили, теперь он корректно начинает работать после выхода из боя. На
        момент обновления гайда, талант всё ещё не симится. Но если вам дают хоть
        иногда рестелс или вам иногда удаётся забагать его, то он определенно лучше
        чем <WH
          text="Мастер боя"
          href="https://www.wowhead.com/ru/spell=193537/мастер-боя"
        />. Очень желательно чтобы вам давали рестелс перед боссами, так как это
        сильно улучает стартовый бурст (и он лучше чем <WH
          text="Мастер боя"
          href="https://www.wowhead.com/ru/spell=193537/мастер-боя"
        /> в одну цель). Макрос для абуза бага (срабатывает не всегда):
        <pre
          class="mt-[10px]"><code class="text-base">#showtooltip Исчезновение
/cast Шквал сюрикэнов
/cast Исчезновение</code></pre>
      </li>
      <li>
        Вы можете поменять 2 любых таланта: <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> | <WH
          text="Омертвевшие нервы"
          href="https://www.wowhead.com/ru/spell=231719/омертвевшие-нервы"
        /> | <WH
          text="Крепкий желудок"
          href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
        /> на <WH
          text="Быструю засаду"
          href="https://www.wowhead.com/ru/spell=378803/быстрая-засадае"
        /> + <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> и сдавать его просто для ускорения группы
      </li>
      <li>
        Учитывая текущую выживаемость разбойника, я рекомендую
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> как основной талант для большинства. <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> может потребоваться только в очень высоких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>
</div>
