---
import WH from "../WH.astro";
import T from "../../assets/guide/subtlety/builds/Trickster.webp";
import DS from "../../assets/guide/subtlety/builds/DS.webp";
import ST from "../../assets/guide/subtlety/builds/ST.webp";
import ST_T from "../../assets/guide/subtlety/builds/ST_Trickster.webp";
import ST_DS from "../../assets/guide/subtlety/builds/ST_DS.webp";
import KEYS_T_1 from "../../assets/guide/subtlety/builds/Keys_Trickster_1.webp";
import KEYS_T_2 from "../../assets/guide/subtlety/builds/Keys_Trickster_2.webp";
import KEYS_DB_1 from "../../assets/guide/subtlety/builds/Keys_DB_1.webp";
import KEYS_DB_2 from "../../assets/guide/subtlety/builds/Keys_DB_2.webp";

import Sim from "../Sim.astro";
import ST_SIM from "../../assets/guide/subtlety/sim/ST.png";
import KEYS_SIM from "../../assets/guide/subtlety/sim/KEY.png";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-sub peer-checked/tab_one:neon-sub"
    >Рейд [Trickster]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAALjxy0YGjxMGjZ8AzMzMMmthZmx2MzMzMzAGLz2AAAAwMYAMmNDDMwsoFaxGmB</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAALjxy0YGjxMGjZ8AzMzMMmthZmx2MzMzMzAGLz2AAAAwMYAMmNDDMwsoFaxGmB?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_T.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Завершение"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        /> лучше <WH
          text="Мастера гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        /> примерно на 0.8%, даже при учёте того, что сим никак не отыгрывает на
        данный момент сам бафф завершения (а это можно сделать, что даст еще больший
        прирост).
      </li>
      <li>
        <WH
          text="Улучшенный шквал сюрикэнов"
          href="https://www.wowhead.com/ru/spell=319951/улучшенный-шквал-сюрикэнов"
        /> можно заменить на <WH
          text="Теневую концентрацию"
          href="https://www.wowhead.com/ru/spell=108209/теневая-концентрация"
        /> только если это ЧИСТЫЙ СТ бой. Если вам хотя бы иногда приходится крутить
        веер, то <WH
          text="Улучшенный шквал сюрикэнов"
          href="https://www.wowhead.com/ru/spell=319951/улучшенный-шквал-сюрикэнов"
        /> - лучше. Сама по себе <WH
          text="Теневая концентрация"
          href="https://www.wowhead.com/ru/spell=108209/теневая-концентрация"
        /> дает всего 5к дпс.
      </li>
      <li>
        <WH text="Дым" href="https://www.wowhead.com/ru/spell=441247/дым" /> можно
        заменить на <WH
          text="Зеркала"
          href="https://www.wowhead.com/ru/spell=441250/зеркала"
        /> если на боссе большинство урона идет не от самого босса, а от окружения.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-sub peer-checked/tab_two:neon-sub"
    >Рейд [DS]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0MzYmxwYYYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMLYG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0MzYmxwYYYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMLYG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex text-center items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >Ключи [Trickster]</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYMmZGjZ8AzMjhxsNMzMbLMjZmZAjlZbAAAAMzghNzyMmtZYswwyMLTL0yshZA</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYMmZGjZ8AzMjhxsNMzMbLMjZmZAjlZbAAAAMzghNzyMmtZYswwyMLTL0yshZA?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_T_1.src}
        alt="Ловкач билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловкач билд для ключей"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_T_2.src}
        alt="Ловкач билд для ключей"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Мастер гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        /> по цифрам дает немного меньше урона чем <WH
          text="Завершение"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        /> (~1%) в оверолле / ст, но больше в аое. Так же при игре с <WH
          text="Мастером гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        /> сам отыгрыш проще, так как не нужен следить за количеством <WH
          text="Выявлением слабости"
          href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
        /> на целях (<WH
          text="Шквал сюрикэнов"
          href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
        /> повесит дебафф на всех).
      </li>
      <li>
        <WH
          text="Мастер боя"
          href="https://www.wowhead.com/ru/spell=193537/мастер-боя"
        /> можно поменять на <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        /> ради оверолла (благодаря багу). Этот талант на данный момент нельзя просимить,
        да и в целом довольно сложно оценить его пользу. Многое зависит от рестелсов,
        которые вам дают (даже без учета бага), а так же от того как сам талант сработает
        (он работает очень криво и начинает отсчет далеко не сразу после спадения
        боя). В любом случае, это бесполезный талант для ст, так как на боссах не
        работает баг. Для реализации бага, надо использовать макрос ниже, вне <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> в бою, тогда отсчет начнется / продолжится в бою и следующий <WH
          text="Танец теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> будет на 4 сек дольше
        <pre><code class="text-base">#showtooltip Исчезновение
/cast Шквал сюрикэнов
/cast Исчезновение</code></pre>
      </li>
      <li>
        Обычно
        <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> используется просто как способность для ускорения группы (помимо невидимости),
        но если вы его не используете, то замените <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> и <WH
          text="Темное сердце"
          href="https://www.wowhead.com/ru/spell=455131/темное-сердце"
        /> на <WH
          text="Омертвевшие нервы"
          href="https://www.wowhead.com/ru/spell=231719/омертвевшие-нервы"
        /> и <WH
          text="Крепкий желудок"
          href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
        />
      </li>
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> можно заменить на любой другой талант если вам не требуется снимать исступления
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >Ключи [DS]</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYwMzYMzMzMjhxsNMzMbLMDmZwYmlZbAAAAMzghNzyADYBsMMhMLYG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYwMzYMzMzMjhxsNMzMbLMDmZwYmlZbAAAAMzghNzyADYBsMMhMLYG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_DB_1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DB_2.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Мастер боя"
          href="https://www.wowhead.com/ru/spell=193537/мастер-боя"
        /> можно поменять на <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        /> ради оверолла (благодаря багу). Этот талант на данный момент нельзя просимить,
        да и в целом довольно сложно оценить его пользу. Многое зависит от рестелсов,
        которые вам дают (даже без учета бага), а так же от того как сам талант сработает
        (он работает очень криво и начинает отсчет далеко не сразу после спадения
        боя). В любом случае, это бесполезный талант для ст, так как на боссах не
        работает баг. Для реализации бага, надо использовать макрос ниже, вне <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> в бою, тогда отсчет начнется / продолжится в бою и следующий <WH
          text="Танец теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> будет на 4 сек дольше
        <pre><code class="text-base">#showtooltip Исчезновение
/cast Шквал сюрикэнов
/cast Исчезновение</code></pre>
      </li>
      <li>
        Обычно
        <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> используется просто как способность для ускорения группы (помимо невидимости),
        но если вы его не используете, то замените <WH
          text="Надежный покров"
          href="https://www.wowhead.com/ru/spell=423662/надежный-покров"
        /> и <WH
          text="Темное сердце"
          href="https://www.wowhead.com/ru/spell=455131/темное-сердце"
        /> на <WH
          text="Омертвевшие нервы"
          href="https://www.wowhead.com/ru/spell=231719/омертвевшие-нервы"
        /> и <WH
          text="Крепкий желудок"
          href="https://www.wowhead.com/ru/spell=193546/крепкий-желудок"
        />
      </li>
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> можно заменить на любой другой талант если вам не требуется снимать исступления
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>
</div>
<Sim title="ST сим (5 минут)">
  <img
    src={ST_SIM.src}
    alt="Сим одной цели"
    class="mx-auto"
    loading="lazy"
    decoding="async"
  />
</Sim>
<Sim title="Сим ключа (19 шлюз)">
  <img
    src={KEYS_SIM.src}
    alt="Сим ключа"
    class="mx-auto"
    loading="lazy"
    decoding="async"
  />
</Sim>
