---
import WH from "../WH.astro";
import T from "../../assets/guide/subtlety/builds/sub_trickster.webp";
import DS from "../../assets/guide/subtlety/builds/sub_ds.webp";
import ST_IS1 from "../../assets/guide/subtlety/builds/sub_st_is_t_1.webp";
import ST_IS3 from "../../assets/guide/subtlety/builds/sub_st_is_t_3.webp";
import KEYS_DB_T1 from "../../assets/guide/subtlety/builds/sub_keys_db_t_1.webp";
import KEYS_DB_T3 from "../../assets/guide/subtlety/builds/sub_keys_db_t_3.webp";
import KEYS_DB_DS1 from "../../assets/guide/subtlety/builds/sub_keys_db_ds_1.webp";
import KEYS_DB_DS3 from "../../assets/guide/subtlety/builds/sub_keys_db_ds_3.webp";

import Sim from "../Sim.astro";
import ST from "../../assets/guide/subtlety/sim/ST.png";
import KEYS from "../../assets/guide/subtlety/sim/KEY.png";
---

<div
  class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
>
  <input
    type="radio"
    id="tab_one"
    name="mytabs"
    checked="checked"
    class="peer/tab_one hidden p-[20px]"
  />
  <label
    for="tab_one"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one:text-sub peer-checked/tab_one:neon-sub"
    >Рейд [Trickster]</label
  >
  <div class="peer-checked/tab_one:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0YGzMGGjZYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMbYG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0YGzMGGjZYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMbYG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_IS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_IS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH text="Дым" href="ps://www.wowhead.com/ru/spell=441247/дым" /> можно заменить
        на <WH
          text="Зеркала"
          href="https://www.wowhead.com/ru/spell=441250/зеркала"
        /> при необходимости. Например на последнем боссе почти весь урон наносит
        не босс (в окружение), поэтому <WH
          text="Зеркала"
          href="https://www.wowhead.com/ru/spell=441250/зеркала"
        /> даст больше выживаемости.
      </li>
      <li>
        <WH
          text="Размножающиеся тени"
          href="https://www.wowhead.com/ru/spell=382506/размножающиеся-тени"
        /> можно заменить на <WH
          text="Клинок мрака"
          href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
        /> или <WH
          text="Улучшенную теневую технику"
          href="https://www.wowhead.com/ru/spell=394023/улучшенная-теневая-техника"
        /> (потеря ~0.4% в одну цель, если есть дополнительные цели - то еще больше).
        Из минусов таланта <WH
          text="Размножающиеся тени"
          href="https://www.wowhead.com/ru/spell=382506/размножающиеся-тени"
        /> - он баганый и из-за него <WH
          text="Теневая техника"
          href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
        /> срабатывает с задержкой, что иногда приводит к ситуации, когда вы видите
        например 5 стаков, даете <WH
          text="Удар Тьмы"
          href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
        /> и вам в этот же момент прилетает еще 2 стака, срабатывает <WH
          text="Незаметность"
          href="https://www.wowhead.com/ru/spell=426594/незаметность"
        /> (shadowcraft), который вам тут же заполняет полностью комбо поинты. Тем
        самым кп с <WH
          text="Удара Тьмы"
          href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
        /> уходят в оверкап. Подробнее на <a
          href="https://github.com/SimCMinMax/WoW-BugTracker/issues/1167"
          class="text-hover hover:opacity-80"
          target="_blank"
          >Github
        </a>
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_two"
    name="mytabs"
    class="peer/tab_two hidden p-[20px]"
  />
  <label
    for="tab_two"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two:text-sub peer-checked/tab_two:neon-sub"
    >Рейд [DS]</label
  >
  <div class="peer-checked/tab_two:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0MzYmxwYYYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMLYG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAA0tw2gAD7pPTLoW5IGZDeAAM2mBAAAAAALjxy0MzYmxwYYYmZmZMmthZmx2MzMzMzAGLz2AAAAwMYYzsMjZbGGLMsMzy0CtMLYG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={ST_IS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={ST_IS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>

  <input
    type="radio"
    id="tab_three"
    name="mytabs"
    class="peer/tab_three hidden p-[20px]"
  />
  <label
    for="tab_three"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 sm:border-r-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three:text-hover peer-checked/tab_three:neon-hover"
    >М+ Rotten [T|DS]</label
  >
  <div class="peer-checked/tab_three:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYmxMzYMDzMjhxsNMzMbLzMjZmZAjlZbAAAAYGMAGzmhBGYW0CtYDG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYmxMzYMDzMjhxsNMzMbLzMjZmZAjlZbAAAAYGMAGzmhBGYW0CtYDG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_DB_T1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={T.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DB_T3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Мастер боя"
          href="https://www.wowhead.com/ru/spell=193537/мастер-боя?def=117633"
        /> можно заменить на <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        />. <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        /> довольно сильный талант, но требует рестелс, который не всегда дают, но
        с ним так же есть баг. Если использовать <WH
          text="Исчезновение"
          href="https://www.wowhead.com/ru/spell=1856/исчезновение"
        />, получить бафф <WH
          text="Первого танца"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        />, а затем сразу нажать <WH
          text="Танец теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />, то бафф продолжит висеть даже в бою, что сделает ваш следующий <WH
          text="Танец теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> на 4 сек дольше. В среднем за ключ бафф срабатывает 12 раз (без использования
        бага, но зависит от танка). Баг не 100%, поэтому посчитать количество сложно,
        но в среднем это около 16 раз за ключ суммарно, что дает 64 сек дополнительного
        времени <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />, что равно 8 дополнительным использованиям. На данный момент
        просимить талант невозможно.
      </li>
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> можно заменить на любой другой талант если вам не требуется снимать исступления
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>

  <input
    type="radio"
    id="tab_four"
    name="mytabs"
    class="peer/tab_four hidden p-[20px]"
  />
  <label
    for="tab_four"
    class="p-[20px] w-[100%] sm:w-[50%] lg:w-[25%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four:text-hover peer-checked/tab_four:neon-hover"
    >М+ DB [DS]</label
  >
  <div class="peer-checked/tab_four:block w-full order-1 hidden">
    <pre
      class="mt-[16px]"><code class="text-base">CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYwMzYMzMzMjhxsNMzMbLzMDmZwYmlZbAAAAYGMsZWGYALglhJkZBG</code></pre>
    <embed
      class="min-h-[550px] w-full pt-[16px] hidden desktop:block"
      src="https://raidbots.com/simbot/render/talents/CUQAAAAAAAAAAAAAAAAAAAAAAAAM2mBAAAAAgZZMWmGzYwMzYMzMzMjhxsNMzMbLzMDmZwYmlZbAAAAYGMsZWGYALglhJkZBG?width=972&hideHeader=1&locale=ru_RU"
    />

    <div
      class="grid grid-rows-[auto_auto_auto] md:grid-rows-[auto_auto] md:grid-cols-2 md:grid-flow-dense desktop:hidden justify-center items-center"
    >
      <img
        src={KEYS_DB_DS1.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-1"
        loading="lazy"
        decoding="async"
      />
      <img
        src={DS.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] w-auto h-auto object-none justify-self-center self-start md:col-span-1 md:row-auto"
        loading="lazy"
        decoding="async"
      />
      <img
        src={KEYS_DB_DS3.src}
        alt="Ловчий смерти рейдовый билд"
        class="mt-[15px] max-w-full h-full object-contain justify-self-center md:col-span-2 md:row-start-2"
        loading="lazy"
        decoding="async"
      />
    </div>

    <ul class="flex flex-col list-disc list-inside gap-[20px] my-[20px]">
      <li>
        <WH
          text="Мастер боя"
          href="https://www.wowhead.com/ru/spell=193537/мастер-боя?def=117633"
        /> можно заменить на <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        />. <WH
          text="Первый танец"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        /> довольно сильный талант, но требует рестелс, который не всегда дают, но
        с ним так же есть баг. Если использовать <WH
          text="Исчезновение"
          href="https://www.wowhead.com/ru/spell=1856/исчезновение"
        />, получить бафф <WH
          text="Первого танца"
          href="https://www.wowhead.com/ru/spell=382505/первый-танец"
        />, а затем сразу нажать <WH
          text="Танец теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />, то бафф продолжит висеть даже в бою, что сделает ваш следующий <WH
          text="Танец теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> на 4 сек дольше. В среднем за ключ бафф срабатывает 12 раз (без использования
        бага, но зависит от танка). Баг не 100%, поэтому посчитать количество сложно,
        но в среднем это около 16 раз за ключ суммарно, что дает 64 сек дополнительного
        времени <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />, что равно 8 дополнительным использованиям. На данный момент
        просимить талант невозможно.
      </li>
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> можно заменить на любой другой талант если вам не требуется снимать исступления
      </li>
      <li>
        <WH
          text="Неуловимость"
          href="https://www.wowhead.com/ru/spell=79008/неуловимость"
        /> можно заменить на
        <WH
          text="Обман смерти"
          href="https://www.wowhead.com/ru/spell=31230/обман-смерти"
        /> в низких ключах. <a
          class="text-hover hover:opacity-80"
          href="https://not-even-close.vercel.app/"
          target="_blank">Здесь</a
        > вы можете посмотреть на какие способности не работает обычная <WH
          text="Уловка"
          href="https://www.wowhead.com/ru/spell=1966/уловка"
        /> и хватит ли вам выживаемости, чтобы пережить без этого таланта.
      </li>
    </ul>
  </div>
</div>
<Sim title="ST сим (5 минут)">
  <img
    src={ST.src}
    alt="Сим одной цели"
    class="mx-auto"
    loading="lazy"
    decoding="async"
  />
</Sim>
<Sim title="Сим ключа (15 каменный свод)">
  <span
    >В симе используется скликивание <WH
      text="Непроглядной ночи"
      href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
    />, что дает ~2.5% дпса, поэтому если вы не хотите это использовать, то
    трикстер является лучшим выбором по всем параметрам</span
  >
  <img
    src={KEYS.src}
    alt="Сим ключа"
    class="mx-auto"
    loading="lazy"
    decoding="async"
  />
</Sim>
